.App {
  text-align: center;
}

header {
  background-color: #282c34;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
header:hover{
  color: yellow;
  font-size: 3rem;
}

img{
  padding: 5px;
  width: 200px;
  height: 200px;
}

ol, ul {
  display:flex;
  flex-wrap: wrap;
	list-style: none;
}